@charset "utf-8";
#Col1{
	float:left;
	width:49%;
	height: 500px;
	background-color:antiquewhite ;
	border:thick #000000 double;
	margin: 0.1%;
		
	 
	
}

label{
	font-size: 70px;
	text-align: center;
	border: double #000000;
	align-content: center;
	align-items: center;
	align-self: center;
	background-color: chartreuse;
	
}
#Col2{
	float:right;
	width:49%;
	height: 500px;
	background-color:antiquewhite ;
	border:thick #000000 double;
	margin: .1%;
}
button{
	background-color: aqua;
	border: double;
	align-items: center;
}
h2{
	color: saddlebrown;
	text-decoration: underline;
	text-decoration-color: maroon;
	text-align: center;
	font-size: 30px;
}
.row:after{
	content: "";
	display:contents;
	clear: both;
	grid-column-gap: 20px;

}
html{
	border: double;
	background-color: yellow;
	border-color: aquamarine;
}
h1{
	font-size: 64px;
	border: double;
	text-align: center;
	height: 80px;
	width: 100%;
	background-color: crimson;
	margin: auto;
	word-spacing: 30px;
	letter-spacing: 10px;
	text-shadow:3px 3px 1px white;
	font-weight: bolder;
	
		
}